@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
.ad-right{
    padding-top: 6.6rem;
}
.ad-title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 139%;
    letter-spacing: -0.03em;
    margin-top: 2.0rem;
}
.ad-content{
    width: 71.5rem;
    height: 8.4rem;
    margin-top:1.6rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 139%;
    /* or 21rem */
    margin-right: 140px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    
    color: #555555;
}
.ad-pts{
    margin: 0;
padding: 0;
padding-top: 1.2rem;
margin-bottom: 2.4rem;
}


.ad-pts > li{
    list-style: none;
    font-family: 'Inter','sans-serif';
font-style: normal;
font-weight:bold;
font-size: 1.5rem;
line-height: 139%;
letter-spacing: -0.03em;
color: #555555;
margin-bottom: 1.2rem;

}

.ad-pts > li > img{
    padding-right: 1.2rem;
}
.ad-nav{
    width: 16.7rem;
    height: 1.9rem;
    margin-top: 1.6rem;
    margin-bottom: 2.0rem;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: .8rem;
    font-family: Inter;
    line-height: 139%;
}
.tg{
   font-size: 0.01rem;    
   height: 0.00001rem;
}
.nav-li{
    list-style: none;
    padding-right: .8rem;
    color: #D2D2D2;
    letter-spacing: -0.03em;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
}

.scrum{
    list-style: none;
    color:#9A9A9A;
    letter-spacing: -0.03em;
    font-weight: 700;
    font-size: 1.4rem;
}
.ad-img{
    width: 73.761rem;
    height: 10.0rem;
}

.btn--best_seller{
width: max-content;
height: max-content;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 1.2rem;
line-height: 1.5rem;
/* identical to box height */
letter-spacing: 0.005em;
text-transform: uppercase;
color: #000000;
background: #EEC65E;
border-radius: .4rem;
padding: .6rem;
margin-right: 1.2rem;
}
.ad_video{
    width: 39.1rem;
    height: 23.9rem;
}
.sch-btn{
    gap: 10rem;
width: 17.1rem;
height: 4.6rem;
margin-bottom: .4rem;
}
.sch-box{
background-color: #F4FDF8;
font-weight: 500;
font-size: 1.4rem;
line-height: 139%;
letter-spacing: -0.03em;
width: 33.3rem;
height: 7.9rem;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.labels{
    margin-bottom: 6.6rem;
}
.sch-box{
    margin-top: 1.6rem;
}
.row2{
    margin-top: 1.3rem;
    margin-bottom: 6.6rem;
}
.row1{
    display: flex;
    flex-direction: row;
    margin:1.75rem 0rem;
    color: #636363;
    font-weight:bold;
    font-family: Inter;
}
.ad{
    display: flex;
    
    padding-left:8.0rem;
    padding-right: 8.0rem;
    margin-bottom: 4.8rem;
}
.ad-left{
    /* padding-right:10,7008rem; */
    margin-right: 3.6rem;
   
}
.ad-title{
    font-size: 3.6rem;
    font-weight: 500;
    font-family: 'Manrope';
    font-style: normal;
}
.ad-icon{
    width: 1.7rem;
    height: 1.7rem;
    margin-right: .8rem;
    margin-left: .8rem;
    align-items: center;
    opacity: 0.5;
}
.btn--tag{
    /* background-color:  #ECECEC;
    padding-right: 8rem;
    border-radius: 4rem;
    width: max-content;
    margin-right: 12rem; */

    height: 2.7rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 139%;
    /* or 22rem */

    display: flex;
    align-items: center;
    letter-spacing: -0.03em;

    color: #636363;
    background: #ECECEC;
    border-radius: .4rem;
    margin-right: 1.2rem;
    padding-right: 1.2rem;
}
.row2{
    display: flex;
    color: #636363;
    font-weight:bold;
    font-family: Inter;
}
.line{

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 139%;
/* or 22rem */
display: flex;
align-items: center;
letter-spacing: -0.03em;
}
.line-mid{

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 2.0rem;
line-height: 139%;
/* or 28rem */

letter-spacing: -0.03em;
text-decoration-line: line-through;
padding: 0rem .2rem;
color: #9A9A9A;
}
.num{
    width: 8.2rem;
height: 3.0rem;
margin-left:.3rem;
}